solutions/EngineeringCommunities/Workflows/SessionReviewFlow-FC6A2CEE-899D-EC11-B3FE-000D3AB30A2D.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mszcool_sharedoffice365_36073"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mszcool_sharedcommondataserviceforapps_8ddb5"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mszcool_sharedcommondataservice_11d67"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"EngineeringCommunitiesOperationsEmail (mszcool_EngineeringCommunitiesOperationsEmail)":{"defaultValue":"marioszp@microsoft.com","type":"String","metadata":{"schemaName":"mszcool_EngineeringCommunitiesOperationsEmail","description":"Email address to send notifications to."}}},"triggers":{"When_a_row_is_added":{"metadata":{"operationMetadataId":"045e3e3e-4019-4b63-986b-b9d7b98ce128"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"https://org9a545482.crm4.dynamics.com","table":"mszcool_sessionproposals","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"6a01960e-4b65-4435-97c8-2d4ad1da3c8d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@parameters('EngineeringCommunitiesOperationsEmail (mszcool_EngineeringCommunitiesOperationsEmail)')","emailMessage/Subject":"Session submission: @{triggerOutputs()?['body/mszcool_name']}","emailMessage/Body":"<p>Fellow community operations!<br>\n<br>\nA new session has been submitted for speakers @{triggerOutputs()?['body/mszcool_presenters']} with the title @{triggerOutputs()?['body/mszcool_name']}. The session targets the industy @{triggerOutputs()?['body/mszcool_industry']} and is of complexity level @{triggerOutputs()?['body/mszcool_level']}.<br>\n<br>\nPlease return to the Engineering Communities operations portal and approve or decline the session.<br>\n<br>\nThanks<br>\nYour Enigneering Communities Flow</p>"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ec67fcc7-c00b-4577-b2fb-5923567a72cd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordIdForFlow","type":"string","value":"@triggerOutputs()?['body/mszcool_sessionproposalid']"}]}},"Get_a_row_by_ID":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"c2677c6c-eb4b-4fc0-9528-688ca9e8deb8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}